<div class="row">
    <h1>Proyecto Creado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7col-lg-7 parte1">
            <h1>Prototipo Stirling Solar</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
               Dicta, quos similique voluptatum impedit eligendi, 
               explicabo voluptatem ab ut ea alias molestias voluptatibus amet nisi quis itaque labore illo atque fugiat? </p>
        </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-md-1 parte2">
    <img src="../../../assets/Motor-Stirling-solar.jpg" class="img-fluid img-proyecto">
</div>
</div>
</div>